# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.pyo.*
*.pyd.*
*.swp
*.egg-info/
*.egg
*.pytest_cache/
*.env
.env/
venv/
env/

# Logs y trayectos
logs/*.log
logs/trips_history.txt

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema operativo
.DS_Store
Thumbs.db

# Pytest
.cache/

# Compiled files
*.so
*.dylib